#dic{
    background-color: #E64BFF;
    font-family: serif;
    font-size: 40px;
    color: white;
    width: 70%;
    height: 80px;
    padding-top: 20px;
    text-align: center
}

#info{
    background-color: #EEEEEE;
    width: 70%;
}

#result{
    background-color: #EEEEEE;
    width: 70%;
}